
.pages{
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}
.navbar{

    display: none;
    flex-direction: row;
    width:70%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}